.deliverySwitch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.3125rem;
    width: 13.0625rem;
    border-radius: 3rem;
    outline: 0.0625rem solid rgba(226, 232, 240, 1);
    background-color: white;
    position: relative;

    @media (max-width: 991px) {
        height: 3rem;
        width: 20rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    input {
        height: inherit;
        width: inherit;
        border-radius: inherit;
        appearance: none;
        outline: none;
        position: relative;
        transition: all ease-in-out 250ms;
        padding: 0.1875rem;

        &::before,
        &::after {
            z-index: 2;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0.875rem;
            font-family: 'TTTravels', sans-serif;
            font-weight: 600;
            width: 50%;
            height: 100%;
            color: rgba(99, 108, 129, 1);
            line-height: 2.8;

            @media (max-width: 991px) {
                font-size: 1.4rem;
                line-height: 2.1;
            }
        }

        &::before {
            content: 'Доставка';
            left: 0;
            text-align: left;
            padding-left: 1rem;
        }

        &::after {
            content: 'Самовивіз';
            right: 0;
            text-align: right;
            padding-right: 1rem;
        }

        &:checked::before {
            color: rgba(255, 255, 255, 1);
            transition: all ease-in-out 250ms 100ms;
        }

        &:checked::after {
            color: rgba(99, 108, 129, 1);
            transition: all ease-in-out 250ms 100ms;
        }

        &:not(:checked)::before {
            color: rgba(99, 108, 129, 1);
            transition: all ease-in-out 250ms;
        }

        &:not(:checked)::after {
            color: white;
            transition: all ease-in-out 250ms;
        }


        &:checked + label {
            left: 0.1875rem;
            right: 50%;
            background-color: rgba(90, 48, 240, 1);
            transition: right ease-in 250ms, left 150ms;

            @media (max-width: 991px) {
                left: 0;
            }
        }

        &:not(:checked) + label {
            left: 50%;
            right: 0.1875rem;
            background-color: rgba(90, 48, 240, 1);
            transition: left ease-in 250ms, right 150ms;

            @media (max-width: 991px) {
                right: 0;
            }
        }
    }

    label {
        z-index: 1;
        position: absolute;
        top: 0.1875rem;
        left: 0;
        border-radius: 3rem;
        height: 1.9375rem;

        @media (max-width: 991px) {
            top: 0;
            height: 3rem;
        }
    }
}
