.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(-102%);
    transition: all ease-in-out 400ms;

    .menu {
        position: relative;
        z-index: 11;
        width: 25rem;
        height: 100vh;
        background-color: #eee5de;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 2rem 1rem;
        outline: 0.2rem solid rgba(90, 48, 240, .5);

        @media (max-width: 720px) {
            width: 100%;
        }
    }

    &.open {
        transform: translateX(0);
        transition: all ease-in-out 400ms;
    }
}
