.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'TTTravels', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.0125rem;
    padding: 0;
    margin: 0 auto;
    transform: translateX(-5.1rem);

    @media (max-width: 1199px) {
        transform: translateX(0);
        margin: 0;
    }

    @media (max-width: 991px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        color: rgb(90, 48, 240);
        font-size: 2rem;
        font-family: 'TTTravels', sans-serif;
        font-weight: bold;
    }

    li {
        @media (max-width: 991px) {
            position: relative;
            padding-left: 0;
            transition: padding-left ease-in 300ms;

            &:before {
                content: '-';
                position: absolute;
                font-family: sans-serif;
                left: -1rem;
                top: 0.8rem;
                opacity: 0;
                transition: all ease-in 300ms;
            }

            &:hover {
                padding-left: 1rem;
                transition: padding-left ease-in 300ms;

                &:before {
                    left: 0;
                    opacity: 1;
                    transition: all ease-in 300ms;
                }
            }
        }

        a {
            padding: 1rem;

            @media (max-width: 991px) {
                padding: 1rem 0;
                display: block;
            }
        }
    }
}
