.menu-btn {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    z-index: 2;
    overflow: hidden;
    border-radius: 0.3125rem;

    span {
        width: 1.875rem;
        height: 0.25rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(90, 48, 240);
        outline: 0.1rem solid rgba(90, 48, 240, .5);
        border-radius: 0.25rem;
        transition: all 0.5s;

        &:nth-of-type(2) {
            top: calc(50% - 0.625rem);
        }

        &:nth-of-type(3) {
            top: calc(50% + 0.625rem);
        }
    }
}
