.cross {
    position: relative;
    width: 100%;
    z-index: 12;

    .cross-mark {
        color: white;
        position: absolute;
        right: 0;
        top: 0;
        width: 2.5rem;
        height: 2.5rem;


        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 1rem;
            top: 0;
            width: 0.25rem;
            height: 2.5rem;
            background-color: rgb(90, 48, 240);
            border-radius: 0.25rem;
            animation-fill-mode: forwards;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }

        &:hover {
            &:before {
                animation: crossAnimBefore ease-in-out 400ms;
            }

            &:after {
                animation: crossAnimAfter ease-in-out 400ms;
            }
        }
    }
}

@keyframes crossAnimBefore {
    0% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(55deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes crossAnimAfter {
    0% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(-55deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}
